.masterDetail {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  align-items: stretch;
}

.detailBody {
  padding: 0.5rem 0.25rem;
}

.master {
  flex: 3 0;
}

.detail {
  flex: 1 0;
  background-color: #f5f5f5;
  border-left: 1px solid #e5e5e5;
  color: #333;
  overflow-y: auto;
}

.detailHeader {
  background-color: #555555;
  border-bottom: 1px solid #e5e5e511;

  h2 {
    padding: 0.25rem;
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  .masterDetail {
    background-color: #333;
    color: #fff;
  }
  .detail {
    color: #fff;
    background-color: #444444;
    border-left: 1px solid #555555;
  }
}

.emptyMessageContainer {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}
