.masterDetail {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  align-items: stretch;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.detailBody {
  padding: 0.5rem 0.25rem;
}

.master {
  flex: 3 0;
}

.detail {
  flex: 1 0;
  background-color: var(--detail-background-color);
  border-left: 1px solid var(--detail-border-color);
  color: var(--detail-text-color);
  overflow-y: auto;
  font-size: 0.8rem;
}

.detailHeader {
  background-color: var(--detail-header-background-color);
  border-bottom: 1px solid var(--detail-header-border-color);

  h2 {
    padding: 0.25rem;
    margin: 0;
    font-weight: normal;
    font-size: 0.8rem;
  }
}

.emptyMessageContainer {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}
