.tree {
  font-family: monospace;
}

.objectPropertyIsExpandable.objectPropertyHeader {
  cursor: pointer;
}

.objectPropertyKey {
  flex: 0 0 auto;
  margin-right: 0.5em;
  padding: 0.25em 0;
  color: #333333;
  @media (prefers-color-scheme: dark) {
    color: #dddddd;
  }

  &:after {
    content: ":";
  }
}
.objectPropertyHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.25rem;
}

.objectPropertySize {
  margin-left: 0.5em;
}

.objectPropertyLength {
  color: #888888;
  @media (prefers-color-scheme: dark) {
    color: #bbbbbb;
  }
}

.number {
  color: #ff8c00;
}

.null {
  color: #999999;
}

.boolean {
  color: #0000ff;
}

.string {
  color: #008000;
  @media (prefers-color-scheme: dark) {
    color: #00aa00;
  }
}

.sizeLabel {
  margin-right: 0.5em;
}

.sizeLabelSmall {
  color: #448844;
  @media (prefers-color-scheme: dark) {
    color: #88cc88;
  }
}
.sizeLabelMedium {
  color: #888800;
  @media (prefers-color-scheme: dark) {
    color: #cccc00;
  }
}
.sizeLabelLarge {
  color: #880000;
  @media (prefers-color-scheme: dark) {
    color: #cc0000;
  }
}

.objectPropertySizeSmall > .objectPropertyHeader > .objectPropertyKey {
  // color: #448844;
}

.objectPropertySizeMedium > .objectPropertyHeader > .objectPropertyKey {
  font-weight: bold;
  color: #888800;
  @media (prefers-color-scheme: dark) {
    color: #cccc00;
  }
}

.objectPropertySizeLarge > .objectPropertyHeader > .objectPropertyKey {
  font-weight: bold;
  color: #880000;
  @media (prefers-color-scheme: dark) {
    color: #ffcccc;
  }
}

.tree {
  padding-left: 0;
  li {
    list-style: none;
  }
  .objectPropertyHeader:focus {
    outline: none;
    font-weight: bold;
    background-color: #eeeeee22;
  }

  li:focus {
    outline: none;
    & > .objectPropertyHeader {
      background-color: #eeeeee22;
    }
    & > .objectPropertyHeader .objectPropertyKey {
      font-weight: bold;
    }
  }
}

.caret {
  width: 0.8rem;
  color: #dddddd;

  [aria-expanded="true"] > * > & {
    opacity: 0.2;
  }
}
