.tree {
  font-family: monospace;
  margin: 0;
}

.objectPropertyIsExpandable.objectPropertyHeader {
  cursor: pointer;
}

.objectPropertyKey {
  flex: 0 0 auto;
  margin-right: 0.5em;
  padding: 0.25em 0;
  color: var(--text-color-2);

  &:after {
    content: ":";
  }
}
.objectPropertyHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.25rem;
}

.objectPropertySize {
  margin-left: 0.5em;
}

.objectPropertyLength {
  color: var(--text-color-3);
}

.number {
  color: var(--json-number-color);
}

.null {
  color: var(--json-null-color);
}

.boolean {
  color: var(--json-boolean-color);
}

.string {
  color: var(--json-string-color);
}

.sizeLabel {
  margin-right: 0.5em;
}

.sizeLabelSmall {
  color: var(--threshold-color-small);
}
.sizeLabelMedium {
  color: var(--threshold-color-medium);
}
.sizeLabelLarge {
  color: var(--threshold-color-large);
}

.objectPropertySizeSmall > .objectPropertyKey {
  color: var(--property-size-small);
}

.objectPropertySizeMedium > .objectPropertyKey {
  font-weight: bold;
  color: var(--property-size-medium);
}

.objectPropertySizeLarge > .objectPropertyKey {
  font-weight: bold;
  color: var(--property-size-large);
}

.tree {
  padding-left: 0;
  li {
    list-style: none;
  }
  .objectPropertyHeader:focus {
    outline: none;
    font-weight: bold;
    background-color: var(--highlight-color);
  }

  li:focus {
    outline: none;
    & > .objectPropertyHeader {
      background-color: var(--highlight-color);
    }
    & > .objectPropertyHeader .objectPropertyKey {
      font-weight: bold;
    }
  }
}

.caret {
  width: 0.8rem;
  color: var(--caret-color);

  [aria-expanded="true"] > * > & {
    opacity: 0.2;
  }
}
