.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid var(--table-border-color);
  }

  th {
    text-align: left;
  }

  td,
  th {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    &:not(:last-child) {
      border-right: 1px solid var(--table-border-color);
    }
  }

  tbody tr:nth-child(odd) {
    background-color: var(--table-alternate-background-color);
  }
}
.table tbody tr.requestRowSelected {
  background-color: var(--table-active-color);
}

.table tbody tr:not(.requestRowSelected) {
  &.requestRowSizeSmall :last-child {
    background-color: var(--table-row-size-small);
  }
  &.requestRowSizeMedium :last-child {
    background-color: var(--table-row-size-medium);
  }
  &.requestRowSizeLarge :last-child {
    background-color: var(--table-row-size-large);
  }
}
